/* Fonts */
@font-face {
    font-family: 'Pinefolk';
    src: url(assets/fonts/pinefolk.otf);
}

@font-face {
    font-family: 'Carena-Regular';
    src: url(assets/fonts/Carena-Regular.otf);
}

@font-face {
    font-family: 'Quicksand';
    src: url(assets/fonts/Quicksand_Book.otf);
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url(assets/fonts/Quicksand_Bold.otf);
}

.pinefolk {
    font-family: 'Pinefolk';
}

.carena-regular {
    font-family: 'Carena-Regular';
}

.quicksand-book {
    font-family: 'Quicksand';
}   

.quicksand-bold {
    font-family: 'Quicksand-Bold';
}