/* Fonts */
@font-face {
    font-family: 'Pinefolk';
    src: url(assets/fonts/pinefolk.otf);
}

@font-face {
    font-family: 'Carena-Regular';
    src: url(assets/fonts/Carena-Regular.otf);
}

@font-face {
    font-family: 'Quicksand';
    src: url(assets/fonts/Quicksand_Book.otf);
}

.pinefolk {
    font-family: 'Pinefolk';
}

.quicksand-book {
    font-family: 'Quicksand';
}
